<div class="modal-header">
    <!-- <h6 class="modal-title">Add Bet</h6> -->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p style="font-size: 20px;text-align: center;margin-top: 30px;">Add New or Update (Bet)</p>
    <form class="bform" #betForm = "ngForm" (submit) = tweekBet($event)>

        <div class="form-group">
            <img class="img-fluid d-block mx-auto image" src="assets/img/NaijaVegasLogo.jpg" >
        </div>

        <div class="form-group">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="option">
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="3"> 3
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="2"> 2
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="1"> 1
                </label>
            </div>
        </div>

        <!-- <div *ngFor="let item of {'b': 1, 'a': 1} | keyvalue">
            {{ item.key }} - {{ item.value }}
        </div> -->

        <!-- <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!this.isNullOrUndefinedOrEmpty(categories)">
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdown_cat1" ngbDropdownToggle>Category 1</button>
                            <div ngbDropdownMenu>
                                <div *ngFor="let item of categories | keyvalue">
                                    <button ngbDropdownItem (click) = "cat.category1 = item.key">{{ item.key }}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" >
                            <label for="cat1">Not listed</label>
                            <input type="text" class="rborder form-control" id="cat1" required 
                            [(ngModel)]="cat.category1" name="cat1" #cat1="ngModel" >
                        </div>
                        <div [hidden]="cat1.valid || cat1.pristine" class="alert alert-danger rborder">
                            No category
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!this.isNullOrUndefinedOrEmpty(getChild(categories, [cat.category1]))">
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdown_cat2" ngbDropdownToggle>Category 2</button>
                            <div ngbDropdownMenu>
                                <div *ngFor="let item of getChild(categories, [cat.category1]) | keyvalue">
                                    <button ngbDropdownItem (click) = "cat.category2 = item.key">{{ item.key }}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" >
                            <label for="cat2">Not listed</label>
                            <input type="text" class="rborder form-control" id="cat2" required 
                            [(ngModel)]="cat.category2" name="cat2" #cat2="ngModel" >
                        </div>
                        <div [hidden]="cat2.valid || cat2.pristine" class="alert alert-danger rborder">
                            No category
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!this.isNullOrUndefinedOrEmpty(getChild(categories, [cat.category1, cat.category2]))">
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdown_cat3" ngbDropdownToggle>Category 3</button>
                            <div ngbDropdownMenu>
                                <div *ngFor="let item of getChild(categories, [cat.category1, cat.category2]) | keyvalue">
                                    <button ngbDropdownItem (click) = "cat.category3 = item.key">{{ item.key }}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" >
                            <label for="cat3">Not listed</label>
                            <input type="text" class="rborder form-control" id="cat3" required 
                            [(ngModel)]="cat.category3" name="cat3" #cat3="ngModel" >
                        </div>
                        <div [hidden]="cat3.valid || cat3.pristine" class="alert alert-danger rborder">
                            No category
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!this.isNullOrUndefinedOrEmpty(getChild(categories, [cat.category1, cat.category2, cat.category3]))">
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdown_cat4" ngbDropdownToggle>Category 4</button>
                            <div ngbDropdownMenu>
                                <div *ngFor="let item of getChild(categories, [cat.category1, cat.category2, cat.category3]) | keyvalue">
                                    <button ngbDropdownItem (click) = "cat.category4 = item.key">{{ item.key }}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" >
                            <label for="cat4">Not listed</label>
                            <input type="text" class="rborder form-control" id="cat4" required 
                            [(ngModel)]="cat.category4" name="cat4" #cat4="ngModel" >
                        </div>
                        <div [hidden]="cat4.valid || cat4.pristine" class="alert alert-danger rborder">
                            No category
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!this.isNullOrUndefinedOrEmpty(getChild(categories, [cat.category1, cat.category2, cat.category3, cat.category4]))">
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdown_cat5" ngbDropdownToggle>Category 5</button>
                            <div ngbDropdownMenu>
                                <div *ngFor="let item of getChild(categories, [cat.category1, cat.category2, cat.category3, cat.category4])| keyvalue">
                                    <button ngbDropdownItem (click) = "cat.category5 = item.key">{{ item.key }}</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" >
                            <label for="cat5">Not listed</label>
                            <input type="text" class="rborder form-control" id="cat5" required 
                            [(ngModel)]="cat.category5" name="cat5" #cat5="ngModel" >
                        </div>
                        <div [hidden]="cat5.valid || cat5.pristine" class="alert alert-danger rborder">
                            No category
                        </div>
                    </td>
                </tr>
            </tbody>
          </table>
        -->

        <div class="form-group">
            <label for="path">Path</label>
            <input type="text" class="rborder form-control" id="path" required 
            [(ngModel)]="schema.category_path" name="path" #path="ngModel" >
        </div>
        <div [hidden]="path.valid || path.pristine" class="alert alert-danger rborder">
            Bet must have categories and sub categories
        </div>

        <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" class="rborder form-control" id="desc" required 
            [(ngModel)]="schema.desc" name="desc" #desc="ngModel" >
        </div>
        <div [hidden]="desc.valid || desc.pristine" class="alert alert-danger rborder">
            There must be some description
        </div>
        
        <div class="form-group">
            <label for="win">Odd for "WIN" option</label>
            <input type="text" class="rborder form-control" id="win" required 
            [(ngModel)]="schema.odds.win" name="win" #win="ngModel" >
        </div>
        <div [hidden]="win.valid || win.pristine" class="alert alert-danger rborder">
            Odd for option "WIN" is required
        </div>


        <div *ngIf = "option == 2 || option == 3">
            <div class="form-group">
                <label for="lose">Odd for "LOSE" option</label>
                <input type="text" class="rborder form-control" id="lose" required 
                [(ngModel)]="schema.odds.lose" name="lose" #lose="ngModel" >
            </div>
            <div [hidden]="lose.valid || lose.pristine" class="alert alert-danger rborder">
                Odd for option "LOSE" is required
            </div>
        </div>

        <div *ngIf = "option == 3">
            <div class="form-group">
                <label for="draw">Odd for "DRAW" option</label>
                <input type="text" class="rborder form-control" id="draw" required 
                [(ngModel)]="schema.odds.draw" name="draw" #draw="ngModel" >
            </div>
            <div [hidden]="draw.valid || draw.pristine" class="alert alert-danger rborder">
                Odd for option "DRAW" is required
            </div>
        </div>

        

        <div class="form-group">
            <label for="expiry">Expiry</label>
            <!-- <input type="datetime-local" class="rborder form-control" id="expiry" name="input" [(ngModel)]="schema.expiry" required 
            min = {{schema.expiry}} /> -->
            <dl-date-time-picker
                startView="day"
                maxView="year"
                minView="minute"
                minuteStep="5"
                [(ngModel)]="schema.expiry"
                name = "date"
            >
            </dl-date-time-picker>
		</div>
        
        <div *ngIf="error.code" class="alert alert-danger" >
          {{ error.message }}
        </div>

        <button type="submit" class="rborder btn btn-success" style="width: 100%;" [disabled]="!betForm.form.valid">ADD/UPDATE</button>

    </form>

   <!-- <p>Hello, {{name}}!</p>
    <p>{{site}}!</p> --> 
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
</div>