<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="'.'"></a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.sports"> Sports
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.politics"> Politics
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.awards"> Awards
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="model.special_events"> Special Events
    </label>
  </div>
</nav>

<!-- Carousel -->
    <section>
      <ngb-carousel #carousel interval="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)"style="width: 100%;">
        <ng-template ngbSlide *ngFor="let img of images; index as i" style="width: 100%;">
          <div class="carousel-caption">
            <h3>My slide {{i + 1}} title</h3>
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper" style="width: 100%;">
              <img [src]="img" alt="My image {{i + 1}} description" style="width: 100%;">
            </div>
          </a>
        </ng-template>
      </ngb-carousel>

      <hr>

      <!--
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
        <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
        <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
        <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
      </div>
      <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
        {{paused ? 'Cycle' : 'Pause' }}
      </button>
      -->
    </section>
    
    <!-- Trending Events-->
    <section>
      <ngb-accordion #acc="ngbAccordion">

        <ngb-panel id="toggle-1">
          <ng-template ngbPanelTitle>
            <div class="event">
                <div class="event-image"><img class="img-fluid d-block mx-auto image" src="https://github.com/jtblog/naijavegas/raw/master/src/static/assets/img/tech/image2.jpg"></div>
                <div class="event-info">
                    <a  class="product-name">Will this phone be out by next year in the US, Yes or No?</a>
                    <div><span>Details:&nbsp;</span><span class="value">More details and description can be found at ....</span></div>
                    <div><span>Expiry:&nbsp;</span><span class="value">Epoch</span></div>
                </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Stake <input inputmode="numeric" pattern="[0-9]*" digitonly="" style="width:100px"></th>
                    <th scope="col">Odds</th>
                    <th scope="col">Pay Out</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Yes</th>
                    <th scope="col"><button class="btn btn-sm btn-outline-primary">9.53</button></th>
                    <th scope="col">19.53</th>
                  </tr>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col"><button class="btn btn-sm btn-outline-primary">7.63</button></th>
                    <th scope="col">17.63</th>
                  </tr>
                </tbody>
              </table>
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-2">
          <ng-template ngbPanelTitle>
            <div class="event">
                <div class="event-image"><img class="img-fluid d-block mx-auto image" src="https://github.com/jtblog/naijavegas/raw/master/src/static/assets/img/tech/image2.jpg"></div>
                <div class="event-info">
                  <a  class="product-name">Will this phone surpass the IPhone X when it is out, Yes or No?</a>
                  <div><span>Details:&nbsp;</span><span class="value">More details and description can be found at ....</span></div>
                  <div><span>Expiry:&nbsp;</span><span class="value">Epoch</span></div>
                </div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Stake <input inputmode="numeric" pattern="[0-9]*" digitonly="" style="width:100px"></th>
                    <th scope="col">Odds</th>
                    <th scope="col">Pay Out</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">Yes</th>
                    <th scope="col"><button class="btn btn-sm btn-outline-primary">9.53</button></th>
                    <th scope="col">19.53</th>
                  </tr>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col"><button class="btn btn-sm btn-outline-primary">7.63</button></th>
                    <th scope="col">17.63</th>
                  </tr>
                </tbody>
              </table>
          </ng-template>
        </ngb-panel>
        
      </ngb-accordion>
    </section>